<main class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label>Nombre:</label>
            <input type="text" name="nombre" placeholder="Nombre">
        </div>
        <div class="campo">
            <label>E-mail:</label>
            <input type="text" name="email" placeholder="Correo Electronico">
        </div>
        <div class="campo">
            <label>Contraseña:</label>
            <input type="password" name="password" placeholder="Contraseña">
        </div>
        <div class="campo">
            <label>Confirmar contraseña:</label>
            <input type="password" name="c_password" placeholder="Repite la contraseña">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a Iniciar Sesión</a>
        </div>
        <div class="campo">
            <button type="submit" class="btn btn-azul">Crear Cuenta</button>
        </div>
    </form>
</main>