<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail:</label>
            <input type="text" name="email" placeholder="Ingresa tu E-mail" required>
        </div>
        <div class="campo">
            <label>Contraseña:</label>
            <input type="password" name="password" placeholder="Ingresa tu Contraseña" required>
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crea una Cuenta</a>
            <a href="/reestablecer-password">¿Olvidastes tu contraseña? Click Aquí</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>